In [5]:
import pandas as pd
from tqdm import tqdm
from copy import deepcopy
import FinanceDataReader as fdr

df = fdr.StockListing('KOSPI')
df_filtered = df[df["Symbol"].isin(["005930", "005380"])]
df_filtered

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
3609,005930,KOSPI,삼성전자,통신 및 방송 장비 제조업,"IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반...",1975-06-11,12월,"김기남, 김현석, 고동진",http://www.sec.co.kr,경기도
6307,005380,KOSPI,현대차,자동차용 엔진 및 자동차 제조업,"자동차(승용차,버스,트럭,특장차),자동차부품,자동차전착도료 제조,차량정비사업",1974-06-28,12월,"정의선, 하언태, 장재훈(각자 대표이사)",http://www.hyundai.com,서울특별시

In [6]:
for i, line in enumerate(tqdm(df_filtered.iterrows(), total=df_filtered.shape[0])):  
    line = line[-1]
    try:
        single_firm = fdr.DataReader(line.Symbol, '2016-06-01', '2020-06-30')
        single_firm.loc[:, "Name"] = line.Name
        single_firm = single_firm.reset_index().set_index(["Name", "Date"])

        if i == 0:    
            res_df = deepcopy(single_firm)
        else:
            res_df = res_df.append(single_firm)
    except:
        pass

100%|█████████████████████████████████████████████| 2/2 [00:00<00:00,  2.23it/s]

In [10]:
res_df = res_df.reset_index().loc[:, ["Name", "Date", "Close"]]
res_df.head()

   Name       Date  Close
0  삼성전자 2016-06-01  26660
1  삼성전자 2016-06-02  27300
2  삼성전자 2016-06-03  27540
3  삼성전자 2016-06-07  27960
4  삼성전자 2016-06-08  28120

In [11]:
res_df.to_excel("../data/underlying_assets.xlsx", index=False)